.content {
    margin: 1em 0;
    font-family: var(--font-family);
    text-align: left;
}

h1, h2, h3, h4, h5 {

}

h1 {
    color: var(--main-text-color);
}

h2 {
    position: relative;
    color: var(--h2-text-color);
    font-size: 18px;
}

h2:before {
    position: absolute;
    left: -1rem;
    content: "#";
    color: var(--main-text-color);
}

p {

}

h3 {
    color: var(--h2-text-color);
}

h4 {

}

h5 {

}

blockquote {
    color: var(--main-text-color);
    font-weight: 800;
}

blockquote:before {
    content: "\201C";
    font-size: 2rem;
}

code {
    border: 1px solid;
    padding: 0 1px;
}