.headerContainer {
    /*border: #ccc solid;*/
    margin-bottom: 20px;
}

.navContainer {
    padding-left: 20px;
}

.icon {
    filter: grayscale(100%);
}

.icon:hover {
    filter: initial;
}

.title {
    line-height: 2rem;
    font-size: 1.5rem;
    font-family: var(--font-family);
    font-weight: bold;
}

.nav {
    line-height: 18px;
}

.navItem {
    font-family: var(--font-family);
    font-weight: 200;
    color: var(--main-text-color);
}

.navItem:hover {
    text-decoration: underline;
}