:root {
  --noramal-text-color: #22272a;
  --main-text-color: #cc2a41;
  --secondary-text-color: #666;
  --h2-text-color: rgba(86,124,119,0.8);
  --font-family: "Menlo", "Meslo LG", monospace;
}

body {
  background: #fafafa;
  color: var(--noramal-text-color);
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.725;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

h1, h2, h3, h4, h5 {
  font-family: var(--font-family);
  text-align: left;
}

h2 {
  color: var(--h2-text-color);
}